{% block munu %}

    <div>
        <ul id="menu">

            <li><a href="/main">Главная</a></li>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/resume">Резюме</a></li>

        </ul>

        <ul id="auth-exit">
            <li><a href="/auth">Вход</a></li>
        </ul>

    </div>


{% endblock %}