{% block munu %}

    <div>
        <ul>

            <li><a href="/main">Главная</a></li>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/resume">Резюме</a></li>
            <li><a href="/add">Новая запись</a></li>
            <li><a href="/sections">Разделы</a></li>

        </ul>

        <ul>
            <li><a href="/exit">Выход</a></li>
        </ul>
    </div>

{% endblock %}