{% extends "blog_main_view.html.twig" %}

{% block main_content %}
    <div id = "content-posts">
        {% block content  %}

            {% for post in posts %}
                <div class="post">
                    <h3><a href="/read/{{ post.id }}/">{{ post.entry_title }}</a></h3>

                    <div>
                        <p>{{ post.entry_description  }}</p>
                    </div>
                    <div>
                        <p><a href="/read/{{ post.id }}/">подробнее</a></p>
                    </div>
                    <span class="mini">{{ post.entry_date_text }}</span>
                    <span class="mini">Комментарии: {{ post.entry_comments_count }}</span>
                    {% if admin %}
                        <span class="mini"><a href="/edit/{{ post.id }}">редактирвоать</a></span>
                        <span class="mini"><a href="/delete/{{ post.id }}" onclick="return confirm('удалить?')">удалить</a></span>
                    {% endif %}
                </div>
            {% endfor %}

        {% endblock %}
    </div>

    <div id="right-bar">
        <ul>
            {% for section in sections %}
                <li>
                    <a href="/main/{{ section.id }}">{{ section.section_name }} [{{ section.count }}]</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock  %}
