{% extends "blog_main_view.html.twig" %}

{% block main_content  %}

    <div id="edit_sections">

        {% for section in sections %}
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="section_row">
                    <div>{{ section.section_name }}</div>
                    <input type="submit" value="x" onclick="return confirm('удалить?')">
                    <input type="hidden" name="action" value="{{ section.id }}">
                </div>
            </form>

        {% endfor %}

        <form method="POST" action="" enctype="multipart/form-data">
            <div>
                <input type="text" name="section_name"><input type="submit" value="Добавить">
                <input type="hidden" name="action" value="add">
            </div>
        </form>


    </div>

{% endblock %}