{% extends "blog_main_view.html.twig" %}

{% block main_content  %}

    <div id="save_entry_form">

        <form method="post" enctype="multipart/form-data">

            <div>
                <label>Раздел:
                    <select name="entry_section">
                        {% for section in sections %}
                            <option value="{{ section.id }}" {% if section.id == entry_section %} selected {% endif %} >{{ section.section_name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>


            <input name="entry_title" type="text" value="{{ entry_title|e('html')  }}">


            <div>
                <input name="id" type="hidden" value="{{ id }}">
            </div>

            <div>
                <textarea cols = "80" rows="10"  name="entry_description" >{{ entry_description|e('html')  }}</textarea>
            </div>

            <div>
                <textarea cols = "80" rows="20" name="entry_text">{{ entry_text|e('html') }}</textarea>
            </div>

            <div>
                <input type="submit" value="Сохранить">
            </div>

        </form>

    </div>

{% endblock %}


