{% extends "blog_main_view.html.twig" %}

{% block main_content  %}

    <form method="post" enctype="multipart/form-data">

        <div id="article">

            <h2>{{ entry_title }}</h2>
            <p>{{ entry_text }}</p>
            {#<p>#}
            {#<pre>#}
            {#<code class="php">#}
            {#public function __construct(){#}
            {#$this->model = new Model_Add();#}
            {#$this->view = new View();#}
            {#}#}
            {#</code>#}
            {#</pre>#}
            {#</p>#}
            <span class="mini">{{ entry_date }}</span>
            <span class="mini">комментарии: {{ entry_comments_count }}</span>
            {% if admin %}
                <span class="mini"><a href="/edit/{{ id }}">редактирвоать</a></span>
                <span class="mini"><a href="/delete/{{ id }}" onclick="return confirm('удалить?')">удалить</a></span>
            {% endif %}
        </div>

    </form>
    {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.author|escape }}</p>
            <p>{{ comment.comment_text|escape }}</p>
            <span>{{ comment.date|escape }}</span>
            {% if admin %}

                <p><span class="mini">

                        {% if comment.active == 0  %}
                            <a href="show/{{ comment.id }}">опубликовать</a>
                        {% else %}
                            <a href="delete/{{ comment.id }}">скрыть</a>
                        {% endif %}
                            <a href="delete/{{ comment.id }}">удалить</a></span></p>

            {% endif %}

        </div>
    {% endfor %}

    <div id="message">{{ message }}</div>

    <div id="comment_form">
        <form method="post" enctype="multipart/form-data" action="">
            <div>

                <label>name:</label><input type="text" name="author">
            </div>
            <div>
                <textarea cols="30" rows="4" name="comment_text"></textarea>
            </div>
            <input type="submit">
        </form>
    </div>

{% endblock %}