{% extends 'blog_main_view.html.twig' %}


{%  block main_content %}

    <div id="password-form">
        <form action="" method="post" enctype="multipart/form-data" >
            <div class="main">
                <div class="field">
                    <label for="login">Login:</label>
                    <input name="login" type="text" id="login" placeholder="Enter login">
                </div>
                <div class="field">
                    <label for="password">Password:</label>
                    <input name="password" type="password" id="password" placeholder="Enter password">
                    <input type="hidden" value="1" name="enter">
                </div>
            </div>

            <div class="enter">
                <input type="submit" value="Enter">
            </div>

            <div id="error">{{ error_msg }}</div>
        </form>
    </div>

{%  endblock %}