<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" href="/skins/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/skins/css/fontello.css">
    <LINK REL="SHORTCUT ICON" href="/images/ico.png">
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendor/components/highlightjs/styles/railscasts.css">
    <script src="/vendor/components/highlightjs/highlight.pack.js"></script>
    <script>
        window.onload = function(){
            hljs.initHighlighting();
        }
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53953120-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<body>


<div id="main">

    <div id="social_bar">
        <div>
            <a title="vk"  href="https://vk.com/id14662245"><i class="icon-vkontakte"></i></a>
            <a title="Facebook"  href="https://www.facebook.com/pershin.igor"><i class="icon-facebook-rect"></i></a>
            <a title="Skype" href="skype:sk8ert1?call"><i class="icon-skype"></i></a>
            <a title="Instagram" href="http://instagram.com/igory_p"><i class="icon-instagram"></i></a>
            <a title="Twitter" href="https://twitter.com/i_igory"><i class="icon-twitter"></i></a>
            <a title="Twitter" href="mailto:igor.pershin.me@gmail.com"><i class="icon-mail-alt"></i></a>
        </div>
    </div>

    <div id="site_title">
        <h1><a href="http://pershin.me">Pershin.me</a></h1>
    </div>

    <div id="header">

        {% block menu %}
            {% include header %}
        {% endblock %}

    </div>

    <div id="content">

        {%  block main_content %}{%  endblock %}

    </div>


    <div id="footer">
        <span class="mini">
            <a href="mailto:igor.pershin.me@gmail.com">igor.pershin.me@gmail.com</a>
        </span>

        <span class="mini">2014</span>
    </div>

</div>

</body>
</html>