body{
    background-color: #f1f1f1;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: dimgrey;
}

#main{
    background-color: #fff;
    margin: 20px auto;

    padding: 10px;
    width: 940px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

#content{
    min-height: 500px;
    padding: 20px;
    overflow:auto;
    width: 900px;

}

#content-posts{
    padding: 10px;
    width: 620px;
    float: left;
}

#content-posts a:hover{
    color: #00a589;
}


#right-bar{
    width: 220px;
    float: right;
    border: 1px solid gainsboro;
}

#right-bar ul li{
    line-height: 1.5em;
    list-style-type: none;
    font-size: 0.7em;
}

#right-bar a{
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
}

#right-bar a:hover{
    /*font-weight: bolder;*/
    text-shadow: 0 0 2px #9c9c9c;
}


#header{
    margin: 0 20px 20px 20px;
    max-width: 900px;
    height: 80px;
    background-color: #333;
    font-size: 0.8em;
}


#site_title h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 36px;
    margin: 0;
    padding: 10px 0 0 25px;
}

#site_title{
    margin: 0 20px 0 20px;
    max-width: 900px;
    height: 65px;
    background-color: #48c9b0;
    font-size: 0.8em;
}

#site_title a{
    text-decoration: none;
    color: #2A363B;;
}

#social_bar{
    margin: 0 20px 0 20px;
    max-width: 900px;
    height: 50px;
    background-color: #48c9b0;
    font-size: 0.8em;
    border-bottom: 1px dashed #2A363B;
    border-top: 1px solid #2A363B;
}

#social_bar div:first-child{
    padding-top: 15px;
    padding-left: 20px;
    font-size: 1.5em;
    color: #333;
}

#social_bar i{
    margin-right: 15px ;
}

#site_title a:hover{
    color: #fff;
    cursor: pointer;
}

#social_bar i:hover{
    color: #fff;
    cursor: pointer;
}



#header ul  {
    vertical-align: middle;

    margin-top: 35px;
    margin-left: 1em;
    padding: 0;
}

#header ul li {
    vertical-align: middle;
    display: table-cell;
}

#header a  {
    margin-right: 10px;
    padding: 15px  15px  15px  15px;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    border: 1px solid #444649;
}

#header a:hover  {
    background-color: #48c9b0;
}



#header ul:first-child{
    float: left;
    width: 700px;
}

#header ul:last-child{
    width: 50px;
    float: right;
    margin-right: 2em;
}

#password-form label {float:left; padding-right:10px;}

.field {clear:both; text-align:right; line-height:25px;}

.main {float:left}

.enter {clear: both;}

.enter input{
    padding: 2px 5px 2px 5px;
    margin: 5px 0 0 0;
}

#password-form{
    margin: 100px auto;
    padding: 30px;
    width: 300px;
}

#error{
    width: auto;
    color: red;
    text-align: center ;
}




#save_entry_form {
    clear: both;
    padding: 20px;
}

#save_entry_form textarea {
    margin-top: 25px ;
}

#save_entry_form form > input {
    margin: 2em 0 1em 0;
    width: 40em;
}

#save_entry_form, #password-form, #content-posts, #article, #edit_sections{
    border: 1px solid gainsboro;
}

#edit_sections{
    padding: 20px;
}



#edit_sections form:last-child{
    margin: 1em 0 1em 0;
}

#footer{
    width: 200px;
    margin: 0 auto;
    padding-bottom: 1em;
}

.section_row div{
    float: left;
    min-width: 200px;
}

.section_row input{
    clear: both;
}

.post img{
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    display: block;
    max-height: 200px;
    margin: 0 auto;

}

.comment{
    border: 1px solid gainsboro;
    padding: 20px;
    margin: 10px 20px 10px 20px ;

}

.comment p{
    padding: 0;
    margin: 0;
    font-weight: lighter;
    display: inline-block;
    width: 80%;
}
.comment p:first-child{
    padding: 0;
    margin: 0 0 0.5em 0;
    font-weight: normal;
    display: block;
}

.comment span{
    float: right;
    display: inline-block;
    font-weight: lighter;

}

.comment p:last-child{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    clear: both;
    display: block;
    width: 100%;
}

.comment p:last-child span{
    float: left;
    font-size: small;
    margin-right: 1em;
}

.comment p:last-child span a{
    margin-right: 1em;
}

#comment_form label{
    float: left;
    font-weight: lighter;
}

#comment_form input[type="text"]{
    margin-left: 0.7em;
    width: 180px;
    clear: both;

}

#comment_form{
    padding: 20px;
    margin: 10px 20px 10px 20px ;
    border: 1px solid gainsboro;
}

#comment_form textarea{
    border-color: gainsboro;
}

#message{
    color: green;
    margin-left: 20px;
    font-weight: lighter;
}


#article h2{
    font: Helvetica sans-serif ;
    color: black;;
}

#article, #about{
    margin: 10px;
    padding: 20px;
}

#about{
    max-height: 600px;
}

#article p, #about p{
    white-space: pre-wrap;
    font-weight: lighter;
    color: #000000;
    letter-spacing: 1px;
}

#about p{
    margin: 0;
    width: 850px;
}

span.mini {
    font-size: 10px;
}

#article img{
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

#about img{
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    position: relative;
    display: block;
    max-height: 250px;
    float: left;
    margin: 0 30px 250px 0;
}

#about ul{
    list-style: none;
    font-weight: lighter;
    margin: 0.5em 0 1em 2em;
}

.post h3 {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: black;

}

h3 a:link {
    text-decoration: none;
}

.post a:link {

    color: black;
}

a {
    color: black;
}

.post {
    border: 1px solid gainsboro;
    padding: 10px;
    margin:  10px 10px 20px 10px;
}

.post p{
    white-space: pre-wrap;
    font-weight: lighter;
    letter-spacing: 1px;
}

.post span.mini {
    font-size: 10px;
}